.container{
    width: 100%;
}

.machine{
    margin: 0 auto;
    width: 500px;
}

.upper-part{
	position: relative;
	width: 460px;
	border-bottom: 100px solid yellow;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
}

.lower-part{
	position: relative;
	width: 500px;
	height: 380px;
	background-color: green;
}

.lower-part .main-board{
	position: relative;
	margin: 0 auto;
	border-top: 350px solid red;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	height: 0;
	width: 300px;
}

.buttons{
    position: absolute;
    left: 340px;
    bottom: 290px;
}

button{
    margin-top: 10px;
}
.tiny-board{
	position: absolute;
	border-top: 50px solid blue;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	height: 0;
	width: 200px;
	left: 0;
	bottom: 300px;
}

.tiny-board::after{
	content: " ";
	position: absolute;
	width: 200px;
	height: 300px;
	background-color: purple;
}

.sq{
	position: absolute;
	width: 150px;
	border-top: 30px solid black;
	top: 0;
	left: 25px;
	z-index: 1;
}

.sq::after{
	content: " ";
	position: absolute;      
    width: 0;
    height: 0;
    border: solid 6px black;
    margin-left: 60px;
}

.sq::before{
	content: " ";
	position: absolute;      
    width: 0;
    height: 0;
    border: solid 6px black;
    margin-left: 80px;
}

.tiny-board-lower{
	position: absolute;
	border-bottom: 50px solid blue;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	height: 0;
	width: 200px;
	left: 0;
	right: 0;
	bottom: 0;
}
.mug{
  position: absolute;
  height: 100px;
  width: 120px;
  border-radius: 0 0 150px 150px;
  box-shadow: inset 17px -7px 0 0 grey;
  background-color: white;
  left: 85px;
	bottom: 20px;
	z-index: 1;
}


.mug::before{
	position: absolute;
	content: " ";
	display: block;
    width: 120px;
	height: 20px;
    border-radius: 50%;
    bottom: 90px;
    left: 0;
    box-shadow:  inset 3px 0 0 0 grey, inset 0 0 0 4px grey, inset 0 14px 0 0 #d6d6d6;
    z-index: 1;
 
}

.mug::after{
	position: absolute;
	content: " ";
    width: 20px;
    height: 20px;
    border-radius: 0 50% 50%;
    left: 110px;
    top: 10px;
    border: 8px solid white;
    box-shadow:inset 7px -7px 0 0 grey, 3px -3px 0 0 grey;
    
}

.foot{
    width: 480px;
    border-top: 50px solid purple;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: relative;
    margin: -10px auto;

}


h1{
	margin-left: 5%;
}

.timeField{
	position: absolute;
	bottom: -80px;
    left: 90px;
    padding: 14px 5px 2px 5px;
    background-color: green;
    width: 260px;
    height: 30px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
}

.indicator{
    width: 20px;
    height: 20px;
    background-color: blue;
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
    left: -74px;
    bottom: 305px;
}